<div class="container py-16">
  <div class="max-w-lg mx-auto px-6 py-7 shadow rounded overflow-hidden">
    <h2 class="text-2xl uppercase font-medium mb-1">
      {{'forgotPassword.heading'|translate}}
    </h2>
    <p class="text-gray-600 mb-6 text-sm">{{'forgotPassword.title'|translate}}</p>

    <form method="" action="" [formGroup]="forgotPasswordForm">
      <div class="space-y-4">
        <div>
          <label class="text-gray-600 mb-2 block"> {{'forgotPassword.emailLabel'|translate}} <span class="text-primary">*</span>
          </label>
          <input type="email" id="email" formControlName="email"
            class="input-box bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 
             dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary dark:focus:border-primary"
            placeholder="example@mail.com" />
          <div *ngIf="forgotPasswordForm.controls['email'].errors && forgotPasswordForm.controls['email'].touched">
            <div class="text-red-500" *ngIf="forgotPasswordForm.controls['email'].errors['required']">
              {{'forgotPassword.emailRequiredError'|translate}}
            </div>
            <div class="text-red-500" *ngIf="forgotPasswordForm.controls['email'].errors['email']">
              {{'forgotPassword.emailFormatError'|translate}}
            </div>
          </div>
        </div>

      </div>

      <div class="mt-4">
        <button type="submit" (click)="forgotPassword()"
          class="block w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">{{'forgotPassword.submitButtonText'|translate}}
        </button>
      </div>
    </form>
    <div *ngIf="loading"
      class="fixed top-0 left-0 w-screen h-screen bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
      <div class="animate-spin rounded-full h-32 w-32 border-t-2 border-primary"></div>
    </div>
  </div>
</div>