<!-- ---- BreadCrum ----- -->
<div class="container py-4 flex justify-between ">
     <div class="flex gap-3 items-center ">
          <a href="index.html" class="text-primary text-base">
               <i class="fas fa-home"></i>
          </a>
          <span class="text-sm text-gray-500 ">
               <i class="fas fa-chevron-right"></i>
          </span>
          <p class="text-gray-500 font-medium uppercase">Shopping Cart </p>
     </div>

</div>
<!-- ---- End BreadCrum --->

<!-- ---- Shpping Cart Wrapper--->
<div class="alert alert-warning text-center p-5 h2" *ngIf="items.length==0">
     <app-check-cart></app-check-cart>

</div>

<div class="container lg:grid grid-cols-12 gap-6 items-start pb-16 pt-4 " *ngIf="items.length>0">
     <!-- ---- Product Cart--->
     <div class="xl:col-span-9 lg:col-span-8 ">

          <div class="bg-gray-200 py-2 pl-12 pr-20 xl:pr-28 mb-4 hidden md:flex ">
               <p class="text-gray-600 text-center">Product </p>
               <p class="text-gray-600 text-center ml-auto mr-16 xl:mr-24 ">Quantity </p>
               <p class="text-gray-600 text-center">Total </p>
          </div>

          <!-- ---- Shipping Cart--->
          <div class="space-y-4">
               <!-- ---- Single Cart--->
               <div class="flex items-center md:justify-between gap-4 md:gap-6 p-4 border border-gray-200 rounded flex-wrap md:flex-nowrap bg-white "
                    *ngFor="let item of items">
                    <div class="w-32 flex-shrink-0">
                         <img src="{{item.images}}" class="w-full" />
                    </div>

                    <div class="md:w-1/3 w-full ">
                         <h2 class="text-gray-800 mb-3 xl:text-xl text-lg font-medium uppercase">{{item.model}} </h2>
                    </div>


                    <div class="flex border border-gray-300 text-gray-600 divide-x divide-gray-300 w-max ">
                         <div class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none"
                              (click)="giamSoLuong(item)"> - </div>
                         <div class="h-8 w-10 flex items-center justify-center"> {{tongsoluong(item)}} </div>
                         <div class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none"
                              (click)="tangSoLuong(item)"> + </div>

                    </div>


                    <div class="ml-auto md:ml-0">
                         <p class="text-primary text-lg font-semibold ">{{item.tongTien |currency:".":"":"1.0"}} VNĐ</p>
                    </div>

                    <div class="text-gray-600 hover:text-primary cursor-pointer ">
                         <i (click)="removeFromCart(item)" class="fas fa-trash"></i>

                    </div>

               </div>
               <div class="xl:col-span-3 lg:col-span-4 border border-gray-200 px-4 py-4 rounded mt-6 lg:mt-0 bg-gray-100">

                    <h3 class="text-gray-800 text-lg mb-4 font-medium uppercase ">Order Summary</h3>
                    <hr>
          
          
          
                    <div class="flex justify-between my-3 text-gray-800 font-semibold uppercase">
                         <h4>Total</h4>
                         <h4>{{ tongtien() | currency:".":"":"1.0"}} VNĐ</h4>
          
                    </div>
                    <a routerLink="/checkout" 
                         class="bg-primary border border-primary text-white px-4 py-3 font-medium rounded-md uppercase hover:bg-transparent hover:text-primary transition text-sm w-full block text-center ">
                         Process to checkout
                    </a>
          
          
               </div>
               <!-- ----End  Single Cart--->
               <!-- ----End  Single Cart--->

          </div>

          <!-- ---- End Shipping Cart--->

     </div>

     <!-- ---- End Product Cart--->


     <!-- ---- Order Summary--->
    


     <!-- ---- End Order Summary--->
</div>