<div class="container py-4 flex justify-between ">
    <div class="flex gap-3 items-center ">
        <a href="index.html" class="text-primary text-base">
            <i class="fas fa-home"></i>
        </a>
        <span class="text-sm text-gray-500 ">
            <i class="fas fa-chevron-right"></i>
        </span>
        <p class="text-gray-500 font-medium">{{'about_us.about_us'|translate}}</p>
    </div>
</div>
<div class="container lg:grid items-start gap-6 pt-2 pb-16">
    <h3 class="text-xl font-bold">{{'about_us.about_us'|translate}}</h3>
    <!-- History and Development Section -->
    <section id="history" class="py-2">
        <div class="container mx-auto">
            <h2 class="text-xl font-semibold">{{'about_us.history_and_development.title'|translate}}</h2>
            <p class="mt-4">{{'about_us.history_and_development.content.0.text'|translate}}</p>
            <p class="mt-4">{{'about_us.history_and_development.content.1.text'|translate}}</p>
            <p class="mt-4">{{'about_us.history_and_development.content.2.text'|translate}}</p>
        </div>
    </section>
    <!-- Highlights Section -->
    <section id="highlights" class="py-2">
        <div class="container mx-auto">
            <h2 class="text-xl font-semibold">{{'about_us.highlights.title'|translate}}</h2>
            <p class="mt-4">{{'about_us.highlights.content.0.text'|translate}}</p>
            <p class="mt-4">{{'about_us.highlights.content.1.text'|translate}}</p>
            <p class="mt-4">{{'about_us.highlights.content.2.text'|translate}}</p>
            <p class="mt-4">{{'about_us.highlights.content.3.text'|translate}}</p>
        </div>
    </section>
    <!-- Support Section -->
    <section id="support" class="py-2">
        <div class="container mx-auto">
            <h2 class="text-xl font-semibold">{{'about_us.support_and_reviews.title'|translate}}</h2>
            <p class="mt-4">{{'about_us.support_and_reviews.content.0.text'|translate}}</p>
            <p class="mt-4">{{'about_us.support_and_reviews.content.1.text'|translate}}</p>
        </div>
    </section>
    <!-- News Section -->
    <section id="news" class="py-2">
        <div class="container mx-auto">
            <h2 class="text-xl font-semibold">{{'about_us.news_and_updates.title'|translate}}</h2>
            <p class="mt-4">{{'about_us.news_and_updates.content.0.text'|translate}}</p>
            <p class="mt-4">{{'about_us.news_and_updates.content.1.text'|translate}}</p>
        </div>
    </section>
    <!-- Policies Section -->
    <section id="policies" class="py-2">
        <div class="container mx-auto">
            <h2 class="text-xl font-semibold">{{'about_us.policies_and_legal_info.title'|translate}}</h2>
            <p class="mt-4">{{'about_us.policies_and_legal_info.content.0.text'|translate}}</p>
            <p class="mt-4">{{'about_us.policies_and_legal_info.content.1.text'|translate}}</p>
            <p class="mt-4">{{'about_us.policies_and_legal_info.content.2.text'|translate}}</p>
        </div>
    </section>
</div>
