<div class="pt-4">

    <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium ">Brand </h3>
    <div class="space-y-2">
        <!-- ----Single Category  --->
      <div class="flex items-center" *ngFor="let loai of listBrandPro" (click)="toggleProductSelectionBr(loai.id)">
       
           <input  type="checkbox" [checked]="selectedProducts.includes(loai.id)" class="text-primary focus:ring-0 rounded-sm cursor-pointer " />
           <label for="Bedroom" class="text-gray-600 ml-3 cursor-pointer  " >{{loai.name}}</label>

      </div>
         <!-- ----End Single Category --->
 </div>     
    </div>
    <!-- ---- End Brand filter --->
    
    <!-- ---- Price filter --->
    <div class="pt-4">
    <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium ">Price </h3>
    
    <div class="mt-4 flex items-center ">
        <input type="text" class="w-full border-gray-300 focus:ring-0 focus:border-primary px-3 py-1 text-gray-600 text-sm shadow-sm rounded " placeholder="Min" />
        <span class="mx-3 text-gray-500"> - </span>
        <input type="text" class="w-full border-gray-300 focus:ring-0 focus:border-primary px-3 py-1 text-gray-600 text-sm shadow-sm rounded " placeholder="Mix" />
    </div> 
    </div> 
