<Footer class="bg-gray-800 pt-16 pb-12 border-t border-gray-100 " >
    <div class="container">
         <div class="xl:grid xl:grid-cols-3 xl:gap-8 ">
              <div class="space-y-8 xl:col-span-1 ">
                   <img style="height: 89px;" src="../assets/images/egu.png" alt="Egu " /> 
                   <p class="text-gray-300 text-base font-roboto " >
                    {{'footer.infor'|translate}}
                   </p>
                   <div class="flex space-x-5">
                        <a href="#" class="text-white hover:text-primary" >
                            <i class="fab fa-facebook-f"></i>
                        </a>

                        <a href="#" class="text-white hover:text-primary" >
                            <i class="fab fa-twitter"></i>
                        </a>

                        <a href="#" class="text-white hover:text-primary" >
                            <i class="fab fa-instagram"></i>
                        </a>

                        <a href="#" class="text-white hover:text-primary" >
                            <i class="fab fa-linkedin-in"></i>
                        </a>

                   </div>
              </div>

  <!-- ---- Footer link   ----- -->

<div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
   <div class="md:grid md:grid-cols-2 md:gap-8 ">
        <div>
             <h3 class="text-sm font-semibold text-white tracking-wide uppercase " > {{'footer.solutions.title'|translate}} </h3>
             <div class="mt-4 space-y-4 ">
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                    {{'footer.solutions.marketing'|translate}}
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                    {{'footer.solutions.analytics'|translate}}
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                    {{'footer.solutions.commerce'|translate}}
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                    {{'footer.solutions.insights'|translate}}
                  </a> 
             </div>
        </div>



        <div class="mt-12 md:mt-0">
             <h3 class="text-sm font-semibold text-white tracking-wide uppercase " > {{'footer.support.title'|translate}} </h3>
             <div class="mt-4 space-y-4 ">
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                    {{'footer.support.pricing'|translate}} 
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                    {{'footer.support.documentation'|translate}}
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                    {{'footer.support.guides'|translate}}
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                    {{'footer.support.apiStatus'|translate}}
                  </a> 
             </div>
        </div> 


   </div>


   <div class="md:grid md:grid-cols-2 md:gap-8 ">
        <div>
             <h3 class="text-sm font-semibold text-white tracking-wide uppercase " > {{'footer.company.title'|translate}} </h3>
             <div class="mt-4 space-y-4 ">
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                    {{'footer.company.about'|translate}}
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                    {{'footer.company.blog'|translate}}
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                    {{'footer.company.jobs'|translate}}
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                    {{'footer.company.service'|translate}}
                  </a> 
             </div>
        </div>



        <div class="mt-12 md:mt-0">
             <h3 class="text-sm font-semibold text-white tracking-wide uppercase " > {{'footer.legal.title'|translate}} </h3>
             <div class="mt-4 space-y-4 ">
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                    {{'footer.legal.claim'|translate}}
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                    {{'footer.legal.privacy'|translate}}
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                    {{'footer.legal.policy'|translate}}
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                    {{'footer.legal.terms'|translate}}
                  </a> 
             </div>
        </div> 


   </div>   
</div> 
  <!-- ----End Footer link   ----- --> 

         </div>

    </div>

</Footer> 
<!-- ---- End Footer   ----- -->

<!-- ---- Copyright  ----- -->
<div class="bg-white py-4 ">
   <div class="container flex items-center justify-between ">
        <p class="text-gray-500 font-semibold " >{{'footer.copyright'|translate}}</p>
   

        <div>
             <img src="../assets/images/methods.png" class="h-5" />
        </div>
   
   </div>

</div>


