<Footer class="bg-gray-800 pt-16 pb-12 border-t border-gray-100 " >
    <div class="container">
         <div class="xl:grid xl:grid-cols-3 xl:gap-8 ">
              <div class="space-y-8 xl:col-span-1 ">
                   <img style="height: 89px;" src="../assets/images/egu.png" alt="Egu " /> 
                   <p class="text-gray-300 text-base font-roboto " >
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing.
                   </p>
                   <div class="flex space-x-5">
                        <a href="#" class="text-white hover:text-primary" >
                            <i class="fab fa-facebook-f"></i>
                        </a>

                        <a href="#" class="text-white hover:text-primary" >
                            <i class="fab fa-twitter"></i>
                        </a>

                        <a href="#" class="text-white hover:text-primary" >
                            <i class="fab fa-instagram"></i>
                        </a>

                        <a href="#" class="text-white hover:text-primary" >
                            <i class="fab fa-linkedin-in"></i>
                        </a>

                   </div>
              </div>

  <!-- ---- Footer link   ----- -->

<div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
   <div class="md:grid md:grid-cols-2 md:gap-8 ">
        <div>
             <h3 class="text-sm font-semibold text-white tracking-wide uppercase " > Solutions </h3>
             <div class="mt-4 space-y-4 ">
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                       Marketing
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                       Analytics
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                       Commerce
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                       Insights
                  </a> 
             </div>
        </div>



        <div class="mt-12 md:mt-0">
             <h3 class="text-sm font-semibold text-white tracking-wide uppercase " > Support </h3>
             <div class="mt-4 space-y-4 ">
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                       Pricing 
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                       Documentation
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                       Guides
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                       API Status
                  </a> 
             </div>
        </div> 


   </div>


   <div class="md:grid md:grid-cols-2 md:gap-8 ">
        <div>
             <h3 class="text-sm font-semibold text-white tracking-wide uppercase " > Company </h3>
             <div class="mt-4 space-y-4 ">
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                       About
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                       Blog
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                       Jobs
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                       Service
                  </a> 
             </div>
        </div>



        <div class="mt-12 md:mt-0">
             <h3 class="text-sm font-semibold text-white tracking-wide uppercase " > Legal </h3>
             <div class="mt-4 space-y-4 ">
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                       Claim 
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                       Privacy
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                       Policy
                  </a>
                  <a href="#" class="text-base text-gray-300 hover:text-primary block font-semibold " >
                      Terms
                  </a> 
             </div>
        </div> 


   </div>   
</div> 
  <!-- ----End Footer link   ----- --> 

         </div>

    </div>

</Footer> 
<!-- ---- End Footer   ----- -->

<!-- ---- Copyright  ----- -->
<div class="bg-white py-4 ">
   <div class="container flex items-center justify-between ">
        <p class="text-gray-500 font-semibold " >© Easy Learning 2022</p>
   

        <div>
             <img src="../assets/images/methods.png" class="h-5" />
        </div>
   
   </div>

</div>


