<!-- ---- BreadCrum ----- -->
<div class="container py-4 flex justify-between">
    <div class="flex gap-3 items-center">
        <a href="index.html" class="text-primary text-base">
            <i class="fas fa-home"></i>
        </a>
        <span class="text-sm text-gray-500">
            <i class="fas fa-chevron-right"></i>
        </span>
        <p class="text-gray-500 font-medium uppercase">Order Failed</p>
    </div>
</div>
<!-- ---- End BreadCrum --->

<!-- ---- Order Failed --->
<div class="max-w-3xl mx-auto px-4 pt-16 pb-24 text-center">
    <div class="mb-8">
        <img src="../assets/images/failure.png" class="w-16 inline-block" />  
    </div>
    <h2 class="text-red-600 font-medium text-3xl mb-3">YOUR ORDER HAS FAILED</h2>
    <p class="text-gray-600">We apologize, but there was an issue processing your order. Please contact customer support for assistance.</p>

    <div class="mt-10">
        <a href="index.html" class="bg-red-600 border border-red-600 text-white px-6 py-3 font-medium rounded-md uppercase hover:bg-transparent hover:text-red-600 transition text-center">Return to Shopping</a>
    </div>
</div>
<!-- ---- End Order Failed --->
