<!-- ---- BreadCrum ----- -->
<div class="container py-4 flex justify-between " >
    <div class="flex gap-3 items-center ">
         <a href="index.html" class="text-primary text-base">
             <i class="fas fa-home"></i>
         </a>
         <span class="text-sm text-gray-500 ">
             <i class="fas fa-chevron-right" ></i>
         </span>
         <p class="text-gray-500 font-medium uppercase">My Account</p>
    </div>

</div>
<!-- ---- End BreadCrum --->

<!-- ---- Account Wrapper--->

<div class="container lg:grid grid-cols-12 items-start gap-6 pt-4 pb-16 ">
      <!-- ---- Sidebar --->
      <div class="col-span-3">
           <!-- ---- User Profile --->
           <div class="px-4 py-3 shadow flex bg-gray-100 items-center gap-4 ">
                <div class="flex-shrink-0"> 
                     <img src="../assets/images/ariyan.jpg" class="rounded-full w-14 h14 p-1 border border-gray-200 object-cover " /> 
                </div>
                <div>
                     <p class="text-gray-600">Hello..</p>
                     <h4 class="text-gray-800 capitalize font-semibold">Kazi Ariyan</h4>
                </div>

           </div>
           <!-- ----End User Profile --->

<!-- ---- Profile Link --->
<div class="mt-6 bg-gray-100 shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600 ">
      <!-- ---- single Link --->
      <div class="space-y-1 pl-8">
           <a href="#" class="relative text-base font-medium capitalize hover:text-primary transition block text-primary">
              Manage Account 
              <span class="absolute -left-8 top-0 text-base ">
                   <i class="far fa-address-card"></i>
              </span>
           </a>
           <a href="#" class="hover:text-primary transition capitalize block" >Profile Information </a>
           <a href="#" class="hover:text-primary transition capitalize block" >Manage Address  </a>
           <a href="#" class="hover:text-primary transition capitalize block" >Change password </a> 
      </div> 
       <!-- ---- End single Link --->


        <!-- ---- single Link --->
      <div class="space-y-1 pl-8 pt-4">
         <a href="#" class="relative text-base font-medium capitalize hover:text-primary transition block text-primary">
            My order History
            <span class="absolute -left-8 top-0 text-base ">
                 <i class="fas fa-gift"></i>
            </span>
         </a>
         <a href="#" class="hover:text-primary transition capitalize block" >My returns </a>
         <a href="#" class="hover:text-primary transition capitalize block" >my cancellations  </a>
         <a href="#" class="hover:text-primary transition capitalize block" >my review </a> 
    </div> 
     <!-- ---- End single Link --->


       <!-- ---- single Link --->
       <div class="space-y-1 pl-8 pt-4">
         <a href="#" class="relative text-base font-medium capitalize hover:text-primary transition block text-primary">
           Payment Method 
            <span class="absolute -left-8 top-0 text-base ">
                 <i class="far fa-credit-card"></i>
            </span>
         </a>
         <a href="#" class="hover:text-primary transition capitalize block" >Voucher</a>
         
    </div> 
     <!-- ---- End single Link --->


       <!-- ---- single Link --->
       <div class="space-y-1 pl-8 pt-4">
         <a href="#" class="relative text-base font-medium capitalize hover:text-primary transition block text-primary">
        My wishlist
            <span class="absolute -left-8 top-0 text-base ">
                 <i class="far fa-heart"></i>
            </span>
         </a> 
         
    </div> 
     <!-- ---- End single Link --->


         <!-- ---- single Link --->
         <div class="space-y-1 pl-8 pt-4">
              <a href="#" class="relative text-base font-medium capitalize hover:text-primary transition block text-primary">
             Logout 
                 <span class="absolute -left-8 top-0 text-base ">
                      <i class="fas fa-sign-out-alt"></i>
                 </span>
              </a> 
              
         </div> 
          <!-- ---- End single Link ---> 
</div> 

 <!-- ----End Profile Link ---> 
      </div>
       <!-- ----End Sidebar--->

<!-- ----Account Content --->
<div class="col-span-9 shadow rounded px-6 bg-gray-100 pt-5 pb-7 mt-6 lg:mt-0 ">
       <form method="" action="" >
         <h3 class="text-lg font-medium capitalize mb-4">Manage Address</h3>
         
<div class="space-y-4">
    <div class="grid sm:grid-cols-2 gap-4">
              <!-- ----Single Input --->
         <div>
              <label class="text-gray-600 mb-2 block">Full Name </label>
              <input type="text" class="input-box" value="Kazi" />
         </div> 
              <!-- ----End Single Input --->

                 <!-- ----Single Input --->
         <div>
              <label class="text-gray-600 mb-2 block">Phone Number </label>
              <input type="text" class="input-box" value="(343)3434-3434" />
         </div> 
              <!-- ----End Single Input ---> 
    </div>


    <div class="grid sm:grid-cols-2 gap-4">
         <div>
              <label class="text-gray-600 mb-2 block" >Country</label>
              <select class="input-box">
                   <option>USA</option>
                   <option>India</option>
                   <option>Bangladesh</option>
              </select>
         </div>


         <div>
              <label class="text-gray-600 mb-2 block" >Region</label>
              <select class="input-box">
                   <option>Dhaka</option>
                   <option>Uttara</option>
                   <option>South </option>
              </select>
         </div>


         <div>
              <label class="text-gray-600 mb-2 block" >City</label>
              <select class="input-box">
                   <option>South City</option>
                   <option>North City</option>
                  
              </select>
         </div>



         <div>
              <label class="text-gray-600 mb-2 block" >Area </label>
              <select class="input-box">
                   <option>South Area</option>
                   <option>North Area</option>
              </select>
         </div>

    </div> 

    <div>
         <label class="text-gray-600 mb-2 block" >Address </label>
          <input type="text" class="input-box" value="new puratan paltion" />
    </div>

</div>  

<div class="mt-6">
    <button type="submit" class="px-6 py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium " >Save Change </button>
</div>



 <!-- ---- End Account Wrapper ---> > 