
<div class="max-w-3xl mx-auto px-4 pt-16 pb-24 text-center">
   <div class="mb-8 w-16  inline-block" >
    <i class="fa fa-cart-arrow-down"  style="    color: #fd3d57; font-size: 70px;"  ></i>        
   </div>
   <h2 class="text-gray-800 font-medium text-3xl mb-3">BẠN CHƯA CÓ SẢN PHẨM </h2>
   <p class="text-gray-600">Cảm ơn bạn đã đến trang website của chúng tôi  </p>

   <div class="mt-10">
        <a href="index.html" class="bg-primary border border-primary text-white px-6 py-3 font-medium rounded-md uppercase hover:bg-transparent hover:text-primary transition text-center " >Tiếp tục mua sắm 
        </a>

   </div>

</div>




