 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #E1EFFE;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
  }
  .dropdown-content li {
    min-width: 130px;
    padding: 6px 10px;
  }
  .dropdown-content a {
    text-decoration: none;
    display: block;
  }
  .dropdown-content li:hover {
    max-width: fit-content;
    background-color: #e3e3e3;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  