<header class="py-4 shadow-sm bg-pink-100 lg:bg-blue-100 ">
     <div class="container flex items-center justify-between ">
          <!-- logo  -->
          <a href="#" class="block w-32">
               <img src="../assets/images/egu.png" alt="logo" class="w-full" />
          </a>
          <!-- logo end  -->
          <!-- search   -->
          <div class="w-full xl:max-w-xl lg:max-w-lg lg:flex relative hidden ">
               <span class="absolute left-4 top-3 text-lg text-gray-400 ">
                    <i class="fas fa-search"></i>
               </span>
               <input type="text"
                    class="pl-12 w-full border border-r-0 border-primary  py-3 px-3 rounded-l-md focus:ring-primary "
                    placeholder="{{'header.search'|translate}}" />
               <button type="submit"
                    class="bg-primary border border-primary text-white px-8 font-medium rounded-r-md hover:bg-transparent hover:text-primary transition  ">
                    {{'header.searchSubmit'|translate}}
               </button>
          </div>

          <!-- search End  -->

          <!-- NavIcons -->

          <div class="space-x-4 flex items-center ">
               <a href="#" class="block text-center text-gray-700 hover:text-primary transition relative "
                    routerLink="/wishlist">
                    <span
                         class=" absolute -right-0 -top-1 w-5 h-5 rounded-full flex items-center justify-center  bg-primary text-white text-xs ">
                         {{count.length}} </span>
                    <div class="text-2xl">
                         <i class="far fa-heart "></i>
                    </div>
                    <div class="text-sm  font-semibold leading-3 ">{{'header.wisth'|translate}}</div>
               </a>


               <a href="#" class="block text-center text-gray-700 hover:text-primary transition relative "
                    routerLink="/cart">
                    <span
                         class=" absolute -right-2 -top-1 w-5 h-5 rounded-full flex items-center justify-center  bg-primary text-white text-xs ">
                         {{cartItems.length}} </span>
                    <div class="text-2xl">
                         <i class="fas fa-shopping-bag "></i>
                    </div>
                    <div class="text-sm font-semibold leading-3 ">{{'header.cart'|translate}}</div>
               </a>

               <div class="dropdown relative">
                    <button class="border border-primary p-2 rounded inline-flex items-center">
                         <img class="mr-1" width="28px" src="../assets/images/{{selectedLanguage}}.jpg">
                         <span class="mr-1 uppercase font-bold">{{selectedLanguage}}</span>
                         <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                              <path d="M10 12l-5-5 1.5-1.5L10 9l3.5-3.5L15 7z" />
                         </svg>
                    </button>
                    <ul class="dropdown-content">
                         <li class="p2 inline-flex items-center">
                              <img class="mr-1" width="24px" src="../assets/images/vi.jpg">
                              <a href="#" (click)="changeLanguage('vi')">Tiếng Việt</a>
                         </li>
                         <li class="p2 inline-flex items-center">
                              <img class="mr-1" width="24px" src="../assets/images/en.jpg">
                              <a href="#" (click)="changeLanguage('en')">English</a>
                         </li>
                         <li class="p2 inline-flex items-center">
                              <img class="mr-1" width="24px" src="../assets/images/ja.jpg">
                              <a href="#" (click)="changeLanguage('ja')">日本語</a>
                         </li>
                         <li class="p2 inline-flex items-center">
                              <img class="mr-1" width="24px" src="../assets/images/zh.jpg">
                              <a href="#" (click)="changeLanguage('zh')">中文</a>
                         </li>
                         <li class="p2 inline-flex items-center">
                              <img class="mr-1" width="24px" src="../assets/images/fr.jpg">
                              <a href="#" (click)="changeLanguage('fr')">Français</a>
                         </li>
                         <li class="p2 inline-flex items-center">
                              <img class="mr-1" width="24px" src="../assets/images/ru.jpg">
                              <a href="#" (click)="changeLanguage('ru')">Русский</a>
                         </li>
                    </ul>
               </div>
               <!-- <a href="#" class="block text-center text-gray-700 hover:text-primary transition relative "
                    routerLink="/account/personal-profile">

                    <div class="text-2xl">
                         <i class="fas fa-user "></i>
                    </div>
                    <div class="text-sm font-semibold leading-3 ">{{'header.account'|translate}}</div>
               </a> -->

          </div>
          <!-- NavIcons End  -->


     </div>

</header>
<!-- ---- End Header ----- -->


<!-- ---- Start NavBar ----- -->
<nav class="bg-gray-800 hidden lg:block ">
     <div class="container">
          <div class="flex">
               <!-- ---- All Category ----- -->
               <div class="px-8 py-4 bg-primary flex items-center cursor-pointer group relative ">
                    <span class="text-white ">
                         <i class="fas fa-bars"></i>
                    </span>
                    <span class="capitalize ml-2 text-white font-semibold">{{'navbar.categoty'|translate}}</span>


                    <div
                         class="absolute left-0 top-full w-full bg-white shadow-md py-3 invisible opacity-0 group-hover:opacity-100 group-hover:visible transition duration-300 z-50 divide-y divide-gray-300 divide-dashed  ">
                         <!-- ---- Start single category ----- -->
                         <a href="#" class="px-6 py-3 flex items-center hover:bg-gray-100 transition ">
                              <img src="../assets/images/icons/bed.svg" class="w-5 h-5 object-contain " />
                              <span class="ml-6 text-gray-700 text-sm font-semibold "> BedRoom</span>
                         </a>
                         <!-- ---- single category End ----- -->

                         <!-- ---- Start single category ----- -->
                         <a href="#" class="px-6 py-3 flex items-center hover:bg-gray-100 transition ">
                              <img src="../assets/images/icons/sofa.svg" class="w-5 h-5 object-contain " />
                              <span class="ml-6 text-gray-700 text-sm font-semibold "> Sofa</span>
                         </a>
                         <!-- ---- single category End ----- -->


                         <!-- ---- Start single category ----- -->
                         <a href="#" class="px-6 py-3 flex items-center hover:bg-gray-100 transition ">
                              <img src="../assets/images/icons/office.svg" class="w-5 h-5 object-contain " />
                              <span class="ml-6 text-gray-700 text-sm font-semibold "> Office</span>
                         </a>
                         <!-- ---- single category End ----- -->


                         <!-- ---- Start single category ----- -->
                         <a href="#" class="px-6 py-3 flex items-center hover:bg-gray-100 transition ">
                              <img src="../assets/images/icons/outdoor-cafe.svg" class="w-5 h-5 object-contain " />
                              <span class="ml-6 text-gray-700 text-sm font-semibold "> OutDoor</span>
                         </a>
                         <!-- ---- single category End ----- -->


                         <!-- ---- Start single category ----- -->
                         <a href="#" class="px-6 py-3 flex items-center hover:bg-gray-100 transition ">
                              <img src="../assets/images/icons/terrace.svg" class="w-5 h-5 object-contain " />
                              <span class="ml-6 text-gray-700 text-sm font-semibold "> Mattress</span>
                         </a>
                         <!-- ---- single category End ----- -->


                         <!-- ---- Start single category ----- -->
                         <a href="#" class="px-6 py-3 flex items-center hover:bg-gray-100 transition ">
                              <img src="../assets/images/icons/sofa.svg" class="w-5 h-5 object-contain " />
                              <span class="ml-6 text-gray-700 text-sm font-semibold "> Sofa</span>
                         </a>
                         <!-- ---- single category End ----- -->

                    </div>

               </div>

               <!-- ---- All Category End ----- -->

               <!-- ---- Nav Menu ----- -->

               <div class="flex items-center justify-between flex-grow pl-12 ">
                    <div class="flex items-center space-x-6 text-base capitalize ">
                         <a routerLink="/" class="text-gray-200 hover:text-yellow-400 transition font-semibold ">
                              {{'navbar.home'| translate}} </a>
                         <a routerLink="/shop" class="text-gray-200 hover:text-yellow-400 transition font-semibold ">
                              {{'navbar.shop'| translate}} </a>
                         <a routerLink="/about" class="text-gray-200 hover:text-yellow-400 transition font-semibold ">
                              {{'navbar.about'|translate}} </a>
                         <a routerLink="/contact" class="text-gray-200 hover:text-yellow-400 transition font-semibold ">
                              {{'navbar.contact'|translate}} </a>
                         <a routerLink="/terms-of-use"
                              class="text-gray-200 hover:text-yellow-400 transition font-semibold ">
                              {{'navbar.terms'|translate}} </a>
                    </div>
                    <div class="  flex items-center cursor-pointer group relative ">
                         <ng-container *ngIf="!customerResponse">
                              <a href="login.html"
                                   class="text-gray-200 hover:bg-primary  font-bold px-5 py-4   ml-auto  hover:text-white transition font-semibold "
                                   routerLink="/login"> {{'navbar.login'|translate}} </a>

                              <a href="login.html"
                                   class=" text-gray-200 hover:bg-primary  font-bold px-3 py-4  ml-auto text-gray-200 hover:text-white transition font-semibold "
                                   routerLink="/register"> {{'navbar.register'|translate}} </a>
                         </ng-container>

                         <ng-container *ngIf="customerResponse">
                              <div class="px-8  hover:bg-primary flex items-center cursor-pointer group relative ">
                                   <a href=""
                                        class="text-gray-200 font-bold px-3 py-4   ml-auto  hover:text-white transition font-semibold ">{{'navbar.greeting'|translate}},
                                        {{customerResponse.first_name}}
                                        {{customerResponse.last_name}} </a>

                                   <div class="absolute left-0 top-full w-full bg-white shadow-md  invisible opacity-0 group-hover:opacity-100 group-hover:visible transition duration-300 z-50 divide-y divide-gray-300 divide-dashed  ">
                                        
                                        <!-- ---- Start single category ----- -->
                                        <a routerLink="/account/personal-profile" class="px-6 py-3 flex items-center hover:bg-gray-100 transition ">
                                             <div class="w-5 h-5 object-contain " >
                                                  <i class="fas fa-user "></i></div>
                                             <span class="ml-6 text-gray-700 text-sm font-semibold ">{{'header.account'|translate}}</span>
                                        </a>
                                        <!-- ---- single category End ----- -->


                                        <!-- ---- Start single category ----- -->
                                        <a href="/login" class="px-6 py-3 flex items-center hover:bg-gray-100 transition " (click)="logout()">
                                             <div class="w-5 h-5 object-contain " >
                                                  <i class="fa fa-sign-out"></i>
                                             </div>
                                             <span class="ml-6 text-gray-700 text-sm font-semibold ">{{'navbar.logout'|translate}}</span>
                                        </a>
                                        <!-- ---- single category End ----- -->
                                   </div>
                              </div>
                         </ng-container>

                    </div>

               </div>

               <!-- ---- Nav Menu End ----- -->

          </div>

     </div>

</nav>