<header class="py-4 shadow-sm bg-pink-100 lg:bg-blue-100 ">
     <div class="container flex items-center justify-between ">
          <!-- logo  -->
          <a href="#" class="block w-32">
               <img src="../assets/images/egu.png" alt="logo" class="w-full" />
          </a>
          <!-- logo end  -->
          <!-- search   -->
          <div class="w-full xl:max-w-xl lg:max-w-lg lg:flex relative hidden">
               <span class="absolute left-4 top-3 text-lg text-gray-400 ">
                    <i class="fas fa-search"></i>
               </span>
               <div >
                    <input (mouseout)="  showHin" type="text" [(ngModel)]="searchTerm" (keyup.enter)="search(searchTerm)"
                         class="pl-12 w-full border border-r-0 border-primary  py-3 px-3 rounded-l-md focus:ring-primary "
                         [formControl]="searchControl" placeholder="{{'header.search'|translate}}" (click)="onInputClick()"
                         style="width: 450px;" />
                    <ul *ngIf="showHin" style="top: 44px;z-index: 100;width: calc(100% - 13px);"
                         class="absolute bg-white border rounded mt-2 w-64 shadow-lg">
                         <li *ngFor="let result of searchResults" (click)="onSuggestionClick(result)"
                              class="p-2 cursor-pointer">{{ result }}</li>
                    </ul>
               </div>
               <button (click)="search(searchTerm)"
                    class="bg-primary border border-primary text-white px-8 font-medium rounded-r-md hover:bg-transparent hover:text-primary transition  ">
                    {{'header.searchSubmit'|translate}}
               </button>


          </div>

          <!-- search End  -->

          <!-- NavIcons -->

          <div class="space-x-4 flex items-center ">
               <a href="#" class="block text-center text-gray-700 hover:text-primary transition relative "
                    routerLink="/wishlist">
                    <span
                         class=" absolute -right-0 -top-1 w-5 h-5 rounded-full flex items-center justify-center  bg-primary text-white text-xs ">
                         {{count.length}} </span>
                    <div class="text-2xl">
                         <i class="far fa-heart "></i>
                    </div>
                    <div class="text-sm  font-semibold leading-3 ">{{'header.wisth'|translate}}</div>
               </a>


               <a href="#" class="block text-center text-gray-700 hover:text-primary transition relative "
                    routerLink="/cart">
                    <span
                         class=" absolute -right-2 -top-1 w-5 h-5 rounded-full flex items-center justify-center  bg-primary text-white text-xs ">
                         {{cartItems.length}} </span>
                    <div class="text-2xl">
                         <i class="fas fa-shopping-bag "></i>
                    </div>
                    <div class="text-sm font-semibold leading-3 ">{{'header.cart'|translate}}</div>
               </a>

               <div class="dropdown relative">
                    <button class="border border-primary p-2 rounded inline-flex items-center">
                         <img class="mr-1" width="28px" src="../assets/images/{{selectedLanguage}}.jpg">
                         <span class="mr-1 uppercase font-bold">{{selectedLanguage}}</span>
                         <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                              <path d="M10 12l-5-5 1.5-1.5L10 9l3.5-3.5L15 7z" />
                         </svg>
                    </button>
                    <ul class="dropdown-content">
                         <li class="p2 inline-flex items-center">
                              <img class="mr-1" width="24px" src="../assets/images/vi.jpg">
                              <button  (click)="changeLanguage('vi')">Tiếng Việt</button>
                         </li>
                         <li class="p2 inline-flex items-center">
                              <img class="mr-1" width="24px" src="../assets/images/en.jpg">
                              <button  (click)="changeLanguage('en')">English</button>
                         </li>
                         <li class="p2 inline-flex items-center">
                              <img class="mr-1" width="24px" src="../assets/images/ja.jpg">
                              <button  (click)="changeLanguage('ja')">日本語</button>
                         </li>
                         <li class="p2 inline-flex items-center">
                              <img class="mr-1" width="24px" src="../assets/images/zh.jpg">
                              <button  (click)="changeLanguage('zh')">中文</button>
                         </li>
                         <li class="p2 inline-flex items-center">
                              <img class="mr-1" width="24px" src="../assets/images/fr.jpg">
                              <button  (click)="changeLanguage('fr')">Français</button>
                         </li>
                         <li class="p2 inline-flex items-center">
                              <img class="mr-1" width="24px" src="../assets/images/ru.jpg">
                              <button  (click)="changeLanguage('ru')">Русский</button>
                         </li>
                    </ul>
               </div>
               <!-- <a href="#" class="block text-center text-gray-700 hover:text-primary transition relative "
                    routerLink="/account/personal-profile">

                    <div class="text-2xl">
                         <i class="fas fa-user "></i>
                    </div>
                    <div class="text-sm font-semibold leading-3 ">{{'header.account'|translate}}</div>
               </a> -->

          </div>
          <!-- NavIcons End  -->


     </div>

</header>
<!-- ---- End Header ----- -->


<!-- ---- Start NavBar ----- -->

