.relative {
    border-radius: 10PX;
}


/* @import "/src/assets/output/css/tailwind/tailwind.css"; */

.border-primary {
    border-color: red;
}

.star {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-size: contain;
}

.filled {
    background-image: url('/assets/img/filled-star.svg');
}

.half-filled {
    background-image: url('/assets/img/half-filled-star.svg');
}

.no-fill {
    background-image: url('/assets/img/no-filled-star.svg');
}

.dot-buttons {
    display: flex;
    justify-content: center;
}

.dot-buttons button {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

.dot-buttons button.active {
    background-color: #555;
}

.truncate-overflow-20 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    /* Number of lines to show */
}

.custom-carousel-item {
    margin-left: -5px;
    /* Adjust this value as needed */
    margin-right: 4px;
    /* Adjust this value as needed */
}