<!-- ---- BreadCrum ----- -->
<div class="container py-4 flex justify-between ">
    <div class="flex gap-3 items-center ">
        <a href="index.html" class="text-primary text-base">
            <i class="fas fa-home"></i>
        </a>
        <span class="text-sm text-gray-500 ">
               <i class="fas fa-chevron-right"></i>
          </span>
        <p class="text-gray-500 font-medium uppercase">My Wishlist</p>
    </div>

</div>
<!-- ---- End BreadCrum --->

<!-- ---- Account Wrapper--->

<div class="container lg:grid grid-cols-12 items-start gap-6 pt-4 pb-16 ">
    <!-- ---- Sidebar --->
    <div class="col-span-3">
        <!-- ---- User Profile --->
        <div class="px-4 py-3 shadow flex bg-gray-100 items-center gap-4 ">
            <div class="flex-shrink-0">
                <img src="../assets/images/ariyan.jpg" class="rounded-full w-14 h14 p-1 border border-gray-200 object-cover " />
            </div>
            <div>
                <p class="text-gray-600">Hello..</p>
                <h4 class="text-gray-800 capitalize font-semibold">Kazi Ariyan</h4>
            </div>

        </div>
        <!-- ----End User Profile --->

        <!-- ---- Profile Link --->
        <div class="mt-6 bg-gray-100 shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600 ">
            <!-- ---- single Link --->
            <div class="space-y-1 pl-8">
                <a href="#" class="relative text-base font-medium capitalize hover:text-primary transition block text-primary">
                         Manage Account
                         <span class="absolute -left-8 top-0 text-base ">
                              <i class="far fa-address-card"></i>
                         </span>
                    </a>
                <a href="#" class="hover:text-primary transition capitalize block">Profile Information </a>
                <a href="#" class="hover:text-primary transition capitalize block">Manage Address </a>
                <a href="#" class="hover:text-primary transition capitalize block">Change password </a>
            </div>
            <!-- ---- End single Link --->


            <!-- ---- single Link --->
            <div class="space-y-1 pl-8 pt-4">
                <a href="#" class="relative text-base font-medium capitalize hover:text-primary transition block text-primary">
                         My order History
                         <span class="absolute -left-8 top-0 text-base ">
                              <i class="fas fa-gift"></i>
                         </span>
                    </a>
                <a href="#" class="hover:text-primary transition capitalize block">My returns </a>
                <a href="#" class="hover:text-primary transition capitalize block">my cancellations </a>
                <a href="#" class="hover:text-primary transition capitalize block">my review </a>
            </div>
            <!-- ---- End single Link --->


            <!-- ---- single Link --->
            <div class="space-y-1 pl-8 pt-4">
                <a href="#" class="relative text-base font-medium capitalize hover:text-primary transition block text-primary">
                         Payment Method
                         <span class="absolute -left-8 top-0 text-base ">
                              <i class="far fa-credit-card"></i>
                         </span>
                    </a>
                <a href="#" class="hover:text-primary transition capitalize block">Voucher</a>

            </div>
            <!-- ---- End single Link --->


            <!-- ---- single Link --->
            <div class="space-y-1 pl-8 pt-4">
                <a href="#" class="relative text-base font-medium capitalize hover:text-primary transition block text-primary">
                         My wishlist
                         <span class="absolute -left-8 top-0 text-base ">
                              <i class="far fa-heart"></i>
                         </span>
                    </a>

            </div>
            <!-- ---- End single Link --->


            <!-- ---- single Link --->
            <div class="space-y-1 pl-8 pt-4">
                <a href="#" class="relative text-base font-medium capitalize hover:text-primary transition block text-primary">
                         Logout
                         <span class="absolute -left-8 top-0 text-base ">
                              <i class="fas fa-sign-out-alt"></i>
                         </span>
                    </a>

            </div>
            <!-- ---- End single Link --->
        </div>

        <!-- ----End Profile Link --->
    </div>
    <!-- ----End Sidebar--->


    <!-- ----Account Content --->

    <div class="col-span-9 mt-6 lg:mt-0 space-y-4  ">
        <div class="alert alert-warning text-center p-5 h2" *ngIf="items.length==0">
            <app-check-cart></app-check-cart>

        </div>

        <div class="col-span-9 mt-6 lg:mt-0 space-y-4 " *ngIf="items.length>0">
            <!-- ----Single Wishlist --->
            <div class="flex items-center md:justify-between gap-4 md:gap-6 p-4 border border-gray-300 rounded bg-gray-100 flex-wrap md:flex-nowrap " *ngFor="let item of items">

                <div class="w-28 flex-shrink-0 ">
                    <img src="{{item.thumbImage}}" class="w-full" />
                </div>

                <div class="md:w-1/3 w-full">
                    <h2 class="text-gray-800 mb-1 xl:text-xl text-lg font-medium uppercase ">{{item.model}}</h2>

                </div>
                <div>
                    <p class="text-primary text-lg font-semibold">{{item.price | currency:".":"":"6.0"}} VNĐ</p>
                </div>
                <a href="#" (click)="addToCart(item)" class="ml-auto md:ml-0 block px-6 py-2 text-center text-sm text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium ">Add
                    to Cart

               </a>
                <div class="text-gray-700 hover:text-primary cursor-pointer">
                    <a (click)="removeFromWish(item)"> <i class="fas fa-trash"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ----End Account Content--->