
 
 <!-- ---- BreadCrum ----- -->
 <div class="container py-4 flex justify-between " >
      <div class="flex gap-3 items-center ">
           <a href="index.html" class="text-primary text-base">
               <i class="fas fa-home"></i>
           </a>
           <span class="text-sm text-gray-500 ">
               <i class="fas fa-chevron-right" ></i>
           </span>
           <p class="text-gray-500 font-medium">Shop</p>
      </div>
 
 </div>
  <!-- ---- End BreadCrum --->
  
 <!-- ---- Shop Wrapper --->
  <div class="container grid lg:grid-cols-4 gap-6 pt-4 pb-16 items-start relative">
       <!-- ---- Sidebar --->
       
<app-categories></app-categories>

 
 <!-- ---- Product --->
 <div class="col-span-3" >
      <!-- ---- Shorting --->
      <div class="mb-4 flex items-center " >
          <select (click)=" onTypeSelect()" class="w-44 text-sm text-gray-600 px-4 py-3 border-gray-300 shadow-sm rounded focus:ring-primary focus:border-primary">
               <ng-container *ngFor="let loai of listTypePro">
                 <option [value]="loai.id">{{ loai.name | uppercase }}</option>
               </ng-container>
             </select>
          <div class="flex gap-2 ml-auto ">
               <div class="border border-primary w-10 h-9 flex items-center justify-center text-white hover:text-gray-600  rounded cursor-pointer focus: bg-primary" >
                    <i (click)="showGridView()" class="fas fa-th"></i>
               </div>
 
               <div class="border border-gray-300 w-10 h-9 flex items-center justify-center text-gray-600 hover:text-white rounded cursor-pointer hover:bg-primary  ">
                    <i class="fas fa-list" (click)="showListView()"></i>
               </div>
 
          </div>
      </div>
 


      
      <div *ngIf="isGridView; else listView">
          <app-pro-by-type></app-pro-by-type>
        </div>
    
        <ng-template #listView>
          <!-- <div  class="p-4 border"> -->
               <div class="flex items-center md:justify-between gap-4 md:gap-6 p-4 border border-gray-300 rounded bg-gray-100 flex-wrap md:flex-nowrap "
               *ngFor="let item of listSP">

               <div class="w-28 flex-shrink-0 ">


                    <img src="{{item.thumbnail}}" class="w-full" />


               </div>

               <div class="md:w-1/3 w-full">
                    <h2 class="text-gray-800 mb-1 xl:text-xl text-lg font-medium uppercase ">{{item.model}}</h2>

               </div>
               <div>
                    <p class="text-primary text-lg font-semibold">{{item.price | currency:".":"":"1.0"}} VNĐ</p>
               </div>
               <a href="#" (click)="addToCart(item)"
                    class="ml-auto md:ml-0 block px-6 py-2 text-center text-sm text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium ">Add
                    to Cart

               </a>

          </div>
        
     
          
        </ng-template>

 
 </div>
 </div>
 <div class="card flex flex-column align-items-center">
     <p-scrollTop></p-scrollTop>
 </div>


 <!-- ---- End Shop Wrapper ---> 
 
 