<!-- ---- Mobile Menu Bar ----- -->

<body>
  <!-- ---- Start Banner  ----- -->
  <div class="bg-cover bg-no-repeat bg-center py-56 relative"
    style="background-image: url('../assets/images/banner_smartphone.png');">
    <div class="container">
      <!-- ---- Banner Content   ----- -->
      <h1 class="xl:text-6xl md:text-5xl text-4xl text-gray-800 font-semibold mb-4 ">
        Best Collection For <br class="hidden sm:block "> Home Decoration
      </h1>
      <p class="text-base text-gray-600 leading-6 ">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate <br class="hidden sm:block "> rhoncus
        pellentesque id integer neque, vel accumsan dolor diam.
      </p>
      <div class="mt-12">
        <a routerLink="/shop"
          class="bg-primary border border-primary text-white px-8 py-3 font-medium rounded-md uppercase hover:bg-transparent hover:text-primary transition ">
          Shop Now
        </a>
      </div>
      <!-- ---- Banner Content End  ----- -->
    </div>
  </div>
  <!-- ---- End Banner ----- -->
  <!-- ---- Start Features  ----- -->
  <div class="container-fluid bg-white">
    <div class="container py-8">
      <div class="lg:w-12/12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mx-auto justify-center">
        <!-- ---- Single Features  ----- -->
        <div
          class="border-primary border rounded-sm px-8 lg:px-3 lg:py-6 py-4 flex justify-center items-center gap-5 transition hover:border-slate-400 hover:bg-gray-200 duration-300">
          <img src="../assets/images/icons/delivery-van.svg" class="lg:w-12 w-10 h-12 object-contain" />
          <div>
            <h4 class="font-medium capitalize text-base">Free Shipping </h4>
            <p class="text-gray-500 text-xs lg:text-sm text-base"> Order Over $200 </p>
          </div>



    <!-- ---- Start Banner  ----- -->

    <!-- ---- End Banner ----- -->
    <!-- ---- Start Features  ----- -->
    <div class="container py-16 " style="background-color: #ffffff;">
        <div class="container py-16 " style="border: 1px solid #f6f5f5; margin-top: 30px;border-radius: 5px;margin-bottom: 25px;">
            <div class="lg:w-12/12 grid md:grid-cols-3 lg:gap-6 mx-auto justify-center ">
                <!-- ---- Single Features  ----- -->
                <div class="border-primary border rounded-sm px-8 lg:px-3 lg:py-6 py-4 flex justify-center items-center gap-5 transition hover:border-slate-400 hover:bg-gray-200 duration-300 ">

                    <img src="../assets/images/icons/delivery-van.svg" class="lg:w-12 w-10 h-12 object-contain " />
                    <div>
                        <h4 class="font-medium capitalize text-lg ">Free Shipping </h4>
                        <p class="text-gray-500 text-xs lg:text-sm "> Order Over $200 </p>
                    </div>
                </div>
                <!-- ----End  Single Features  ----- -->


                <!-- ---- Single Features  ----- -->
                <div class="border-primary border rounded-sm px-8 lg:px-3 lg:py-6 py-4 flex justify-center items-center gap-5 transition hover:border-slate-400 hover:bg-gray-200 duration-300 ">

                    <img src="../assets/images/icons/money-back.svg" class="lg:w-12 w-10 h-12 object-contain " />
                    <div>
                        <h4 class="font-medium capitalize text-lg ">Money Returns </h4>
                        <p class="text-gray-500 text-xs lg:text-sm "> 30 Days Money Return </p>
                    </div>
                </div>
                <!-- ----End  Single Features  ----- -->



                <!-- ---- Single Features  ----- -->
                <div class="border-primary border rounded-sm px-8 lg:px-3 lg:py-6 py-4 flex justify-center items-center gap-5 transition hover:border-slate-400 hover:bg-gray-200 duration-300 ">

                    <img src="../assets/images/icons/service-hours.svg" class="lg:w-12 w-10 h-12 object-contain " />
                    <div>
                        <h4 class="font-medium capitalize text-lg ">24/7 Support </h4>
                        <p class="text-gray-500 text-xs lg:text-sm "> Customer Support </p>
                    </div>
                </div>
                <!-- ----End  Single Features  ----- -->
            </div>

        </div>
        <!-- ----End  Single Features  ----- -->
        <!-- ---- Single Features  ----- -->
        <div
          class="border-primary border rounded-sm px-8 lg:px-3 lg:py-6 py-4 flex justify-center items-center gap-5 transition hover:border-slate-400 hover:bg-gray-200 duration-300">
          <img src="../assets/images/icons/money-back.svg" class="lg:w-12 w-10 h-12 object-contain" />
          <div>
            <h4 class="font-medium capitalize text-base">Money Returns </h4>
            <p class="text-gray-500 text-xs lg:text-sm text-base"> 30 Days Money Return </p>
          </div>
        </div>
        <!-- ----End  Single Features  ----- -->
        <!-- ---- Single Features  ----- -->
        <div
          class="border-primary border rounded-sm px-8 lg:px-3 lg:py-6 py-4 flex justify-center items-center gap-5 transition hover:border-slate-400 hover:bg-gray-200 duration-300">
          <img src="../assets/images/icons/secure-payment.svg" class="lg:w-12 w-10 h-12 object-contain" />
          <div>
            <h4 class="font-medium capitalize text-base">Warranty Policy </h4>
            <p class="text-gray-500 text-xs lg:text-sm text-base"> 12 month warranty, 15 days return </p>
          </div>
        </div>
        <!-- ----End  Single Features  ----- -->
        <!-- ---- Single Features  ----- -->
        <div
          class="border-primary border rounded-sm px-8 lg:px-3 lg:py-6 py-4 flex justify-center items-center gap-5 transition hover:border-slate-400 hover:bg-gray-200 duration-300">
          <img src="../assets/images/icons/service-hours.svg" class="lg:w-12 w-10 h-12 object-contain" />
          <div>
            <h4 class="font-medium capitalize text-base">24/7 Support </h4>
            <p class="text-gray-500 text-xs lg:text-sm text-base"> Customer Support </p>
          </div>
        </div>
        <!-- ----End  Single Features  ----- -->
      </div>
    </div>
  </div>
  <!-- ---- End Features  ----- -->


  <!-- ---- Start Categories  ----- -->
  <app-type-product></app-type-product>
  <!-- ---- End Categories  ----- -->

  <!--Start Top New -->
  <app-new-product></app-new-product>
  <!--End Top New -->

  <!-- ---- Start Top New Arrival  ----- -->
  <app-top-product></app-top-product>
  <!-- ---- End Top New Arrival  ----- -->

  <!-- ---- Start Add  ----- -->
  <div class="container pb-16 ">
    <a href="#">
      <img
        src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2023/10/banner/C53-720-220-720x220-1.png"
        class="w-full" />
    </a>
  </div>
  <!-- ---- End Add  ----- -->


  <!-- ---- Start  Recomended for you   ----- -->
  <!-- <div class="py-8 container"> -->
    <div class="container pb-16 " >
      <!-- <h2 class="text-2xl md:text-3xl font-medium text-gray-800 uppercase mb-6  ">Recomended For You </h2> -->
      <div class="flex items-center py-4">
        <hr class="flex-grow border-b">
        <h3 class="px-4 text-gray-900 font-semibold text-xl uppercase">Recomended For You</h3>
        <hr class="flex-grow border-b">
      </div>
      <!-- ---- Start Single Product  ----- -->
      <div class="card">
        <p-carousel [value]="listSP" [numVisible]="5" [numScroll]="1" [circular]="true"
          [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">
          <ng-template let-pro pTemplate="item">
            <div class="surface-border border-round custom-carousel-item">
              <div class="group rounded bg-white shadow overflow-hidden relative">
                <div>
                <span style="width: 38px; height: 38px; display: flex; align-items: center; justify-content: center;" class="absolute top-1 left-1 z-50 justify-items-center  bg-red-500 text-white text-sm font-bold rounded-full">-{{discountPercentage(pro.price,pro.discount)}}%</span>
                  <div class="relative group">
                    <div style="height: 220px; display: flex; align-items: center; justify-content: center;"
                      class="align-text-center">
                      <img src="{{pro.thumbnail}}" class="w-full p-5" />
                    </div>
                    <div class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
                      <a href="/view/{{pro.id}}"
                        class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center">
                        <i class="fas fa-search"></i>
                      </a>
                      <a (click)="addToWish(pro)"
                        class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center">
                        <i class="fas fa-heart"></i>
                      </a>
                    </div>
                  </div>

                  <!-- Rest of your content -->
                </div>

                <div class="p-5">
                  <div style="display: flex; flex-direction: column;  height: 3rem ">
                    <a href="/view/{{pro.id}}" (click)="onChangeView(pro.id)">
                      <h6
                        class="uppercase font-medium text-l mb-2 text-gray-800 hover:text-primary transition truncate-overflow-20"
                        style="word-wrap: break-word; overflow-wrap: break-word;">
                        {{pro.model}}
                      </h6>
                    </a>
                  </div>

                  <div class="flex items-baseline mb-1 space-x-2 ">
                    <p class="text-l text-primary font-roboto font-semibold" style="white-space: nowrap;">{{pro.discount
                      | currency:".":"":"1.0"}} VNĐ</p>
                  </div>
                  <div class="flex items-baseline mb-1 space-x-2 ">
                    <p class="text-sm text-gray-400 font-roboto  line-through "> {{pro.price| currency:".":"":"1.0"}}
                      VNĐ </p>
                  </div>
                  <div>
                    <div class="flex justify-between" class="flex items-center" >
                      <div class="flex gap-1 text-md">
                        <div *ngFor="let starInfo of pro.starsInfo">
                          <span class="star"
                            [ngClass]="{'filled': starInfo.filled, 'half-filled': starInfo.half, 'no-fill': starInfo.noFill}"></span>
                        </div>
                      </div>
                      <div class="text-xs text-center text-gray-500 flex items-center ml-3">{{ pro.count }} Reviews</div>

                    </div>
                  </div>

                </div>
                <a (click)="addToCart(pro)"
                  class="block w-full py-1 text-center text-white bg-primary border border-primary rounded-b font-medium hover:bg-transparent hover:text-primary transition ">
                  Add To Cart
                </a>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <!-- ---- End Single Product  ----- -->
      <!-- commnent -->
    </div>
  <!-- </div> -->
  <div class="card flex flex-column align-items-center">
    <p-scrollTop></p-scrollTop>
  </div>