<!-- Content Wrapper. Contains page content -->
<!-- <div class="content-wrapper"> -->
<!-- Content Header (Page header) -->
<section class="content-header" *ngIf="!isSpinning" [@fadeIn]="!isSpinning">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Orders Lists</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Order Lists</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<div *ngIf="isSpinning" [@fadeInOut]="isSpinning" class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
</div>
<!-- Main content -->
<section class="content" *ngIf="!isSpinning" [@fadeIn]="!isSpinning">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh Sách Orders</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        <table datatable [dtOptions]="dtOptions" *ngIf="orders && orders.length > 0" class="table table-bordered table-striped row-border hover w-100">
                            <thead>
                                <tr>
                                    <!-- <th hidden>Id</th> -->
                                    <th>No</th>
                                    <th>Customer</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>Order Date</th>
                                    <th>Note</th>
                                    <th>Status</th>
                                    <th>Payment Method</th>
                                    <th>Discount Price</th>
                                    <!-- <th hidden>Product Name</th>
                                    <th hidden>Quantity</th> -->
                                    <!-- <th>Total Price Has discount</th> -->
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let o of orders; let i=index">
                                    <!-- <td hidden>{{ o.id }}</td> -->
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ o.customer.firstName+' '+ o.customer.lastName}}</td>
                                    <td>{{ o.email }}</td>
                                    <td>{{ o.phone }}</td>
                                    <td>
                                        {{o.address+', '+o.district+', '+o.city+', '+o.country}}
                                    </td>
                                    <td>{{ o.orderDate | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{ o.note }}</td>
                                    <td>{{ o.status }}</td>
                                    <td>{{ o.paymentMethod }}</td>
                                    <td>{{ o.discountPrice+""| currency:",":"":"1.0"}} VNĐ</td>
                                    <!-- <td hidden>{{ o.orderDetail.product.name }}</td>
                                    <td hidden>{{ o.orderDetail.quantity }}</td> -->
                                    <!-- <td>VNĐ</td> -->
                                    <td>
                                        <button class="btn mb-2" style="background-color: cornflowerblue;" data-toggle="modal" data-target="#updateModal" (click)="onUpdate(o.id)">
                                            <i class="fa fa-pencil"></i>
                                        </button><br>
                                        <button class="btn" style="background-color: gainsboro;" data-toggle="modal" data-target="#DetailModal" (click)="onUpdate(o.id)">
                                            <i class="fa fa-th-list"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="updateModalLabel">Update Order</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="orderForm">
                                            <label for="orderStatus" class="form-label">Status</label>
                                            <select formControlName="status" class="form-control select2" style="width: 100%" [ngModel]="selectedStatus">
                                            <option value="PENDING">PENDING</option>
                                            <option value="PROCESSING">PROCESSING</option>
                                            <option value="DELIVERED">DELIVERED</option>
                                            <option value="CANCELLED">CANCELLED</option>
                                          </select>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn"  [disabled]="!orderForm.valid" style="background-color: cornflowerblue;" (click)="fnUpdateOrder()"><i class="fa fa-pencil"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="modal" id="DetailModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                            <div class="modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="DetailModalLabel">Order Detail {{orderdetails?.id}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                    </div>
                                    <div class="modal-body table-responsive">
                                        <table datatable [dtOptions]="dtOp" *ngIf="orderdetails && orderdetails.length> 0" class="table table-bordered table-striped row-border hover">
                                            <thead>
                                                <tr>
                                                    <!-- <th hidden>Id</th> -->
                                                    <th>No</th>
                                                    <th>Product</th>
                                                    <th>Quantity</th>
                                                    <th>Phone</th>
                                                    <!-- <th>Email</th> -->
                                                    <th>Price</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let od of orderdetails; let i = index">
                                                    <!-- <td hidden>{{ od.id }}</td> -->
                                                    <td>{{ i+1}}</td>
                                                    <td>{{ od.product.name }}</td>
                                                    <td>{{ od.quantity }}</td>
                                                    <td>{{ od.order.phone }}</td>
                                                    <!-- <td>{{ od.order.email }}</td> -->
                                                    <td>{{ od.totalPrice +""| currency:",":"":"1.0"}} VNĐ</td>
                                                    <td>
                                                        <button class="btn mx-2" style="background-color: cornflowerblue;" data-dismiss="modal" data-toggle="modal" data-target="#updateModal1" (click)="onUpdate(od.id)">
                                                            <i class="fa fa-pencil"></i>
                                                        </button>
                                                        <button class="btn btn-danger" (click)="fnDeleteDetailOrder(od.id)">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="4">
                                                        Totail Price
                                                    </td>
                                                    <td colspan="2">
                                                        {{getTotalPrice()| currency:".":"":"1.0"}} VNĐ
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="updateModal1" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="updateModalLabel">Update Quantity Order Dteail</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="orderDetailForm">
                                            <label for="orderDetailQuantity" class="form-label">Quantity</label>
                                            <input formControlName="quantity" type="number" class="form-control mb-2" name="quantity" id="quantity" [(ngModel)]="orderDetailForm.value.quantity" min="1" (ngModelChange)="updateTotalPriceProduct()" placeholder="Enter Product Quantity" />
                                            <div *ngIf="orderDetailForm.controls['quantity'].invalid && orderDetailForm.controls['quantity'].touched" class="text-danger">
                                                Quantity is required.
                                            </div>
                                            <div *ngIf="orderDetailForm.controls['quantity'].invalid && orderDetailForm.controls['quantity'].errors.min" class="text-danger">
                                                Quantity min 1
                                            </div>
                                            <label for="orderDetailTotalPrice" class="form-label">Total Price Product</label>
                                            <input formControlName="totalPrice" type="number" class="form-control mb-2" name="totalPrice" id="totalPrice" [(ngModel)]="orderDetailForm.value.totalPrice" min="1" readonly>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" style="background-color: cornflowerblue;" [disabled]="!orderDetailForm.valid" (click)="fnUpdateQuantityOrderDetail()"><i class="fa fa-pencil"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- </div> -->
<!-- /.content-wrapper -->