<!-- ---- BreadCrum ----- -->
<div class="container py-4 flex justify-between">
    <div class="flex gap-3 items-center">
        <a href="index.html" class="text-primary text-base">
            <i class="fas fa-home"></i>
        </a>
        <span class="text-sm text-gray-500">
            <i class="fas fa-chevron-right"></i>
        </span>
        <p class="text-gray-500 font-medium uppercase">My Account</p>
    </div>
</div>
<!-- ---- End BreadCrum --->
<!-- ---- Account Wrapper--->

<div class="container lg:grid grid-cols-12 items-start gap-6 pt-4 pb-16">
    <!-- ---- Sidebar --->
    <div class="col-span-3">
        <app-account-sidebar></app-account-sidebar>
    </div>
    <!-- ----End Sidebar--->

    <!-- ----Account Content --->
    <div class="col-span-9 gap-4 mt-6 lg:mt-0">
        <div class="max-w-3xl mx-auto bg-white p-8 shadow">
            <h1 class="text-2xl font-semibold mb-4">{{'changePassword.title'|translate}}</h1>
            <form class="" [formGroup]="changePasswordForm">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="oldPassword">
                        {{'changePassword.currentPasswordLabel'|translate}}
                    </label>
                    <input formControlName="oldPassword"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="oldPassword" type="password" placeholder="{{'changePassword.currentPasswordPlaceholder'|translate}}">
                    <div *ngIf="
                    changePasswordForm.controls['oldPassword'].invalid &&
                    changePasswordForm.controls['oldPassword'].touched
                            " class="text-red-500">
                            {{'changePassword.currentPasswordRequiredError'|translate}}
                    </div>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="newPassword">
                        {{'changePassword.newPasswordLabel'|translate}}
                    </label>
                    <input formControlName="newPassword"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="newPassword" type="password" placeholder="{{'changePassword.newPasswordPlaceholder'|translate}}">
                    <div
                        *ngIf="changePasswordForm.controls['newPassword'].errors && changePasswordForm.controls['newPassword'].touched">
                        <div class="text-red-500" *ngIf="changePasswordForm.controls['newPassword'].errors['required']">
                            {{'changePassword.newPasswordRequiredError'|translate}}
                        </div>
                        <div class="text-red-500"
                            *ngIf="changePasswordForm.controls['newPassword'].errors['minlength'] && !changePasswordForm.controls['newPassword'].errors['pattern']">
                            {{'changePassword.newPasswordMinLengthError'|translate}}
                        </div>
                    </div>
                </div>
                <div class="mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="confirmPassword">
                        {{'changePassword.confirmPasswordLabel'|translate}}
                    </label>
                    <input formControlName="confirmPassword"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="confirmPassword" type="password" placeholder="{{'changePassword.confirmPasswordPlaceholder'|translate}}">
                    <div
                        *ngIf="changePasswordForm.controls['confirmPassword'].errors && changePasswordForm.controls['confirmPassword'].touched">
                        <div class="text-red-500"
                            *ngIf="changePasswordForm.controls['confirmPassword'].errors['required']">
                            {{'changePassword.confirmPasswordRequiredError'|translate}}
                        </div>
                        <div class="text-red-500"
                            *ngIf="changePasswordForm.controls['confirmPassword'].errors['mismatch']">
                            {{'changePassword.confirmPasswordMismatchError'|translate}}
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-between">
                    <button [disabled]="changePasswordForm.invalid" (click)="changePassword()"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="button">
                        {{'changePassword.saveButton'|translate}}
                    </button>
                </div>
            </form>
            <div *ngIf="loading"
                class="fixed top-0 left-0 w-screen h-screen bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
                <div class="animate-spin rounded-full h-32 w-32 border-t-2 border-primary"></div>
            </div>
            <div *ngIf="showSuccessMessage"  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-70">
                <div class="max-w-2xl mx-auto px-4 py-8 text-center bg-white shadow-lg rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 mx-auto animate-bounce text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                    </svg>
                    <h2 class="text-gray-800 font-medium text-2xl mb-3">Change password successfully.</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>