<!-- Content Wrapper. Contains page content -->
<!-- <div class="content-wrapper"> -->
<!-- Content Header (Page header) -->
<section class="content-header" *ngIf="!isSpinning" [@fadeIn]="!isSpinning">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Product List</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<div *ngIf="isSpinning" [@fadeInOut]="isSpinning" class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
</div>
<!-- Main content -->
<section class="content" *ngIf="!isSpinning" [@fadeIn]="!isSpinning">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh Sách Sản Phẩm</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        <table datatable [dtOptions]="dtOptions" *ngIf="products && products.length > 0" class="table table-bordered table-striped row-border hover">
                            <thead>
                                <tr>
                                    <!-- <th hidden>Id</th> -->
                                    <th class="col-2">No</th>
                                    <th>Name</th>
                                    <th>Model</th>
                                    <th>Image</th>
                                    <th>Price</th>
                                    <th>Stock Quantity</th>
                                    <th>ThumbNail</th>
                                    <th>Description</th>
                                    <th>Discount Percentage</th>
                                    <th>Discount Price</th>
                                    <th>Status</th>
                                    <th>Category</th>
                                    <th>Origin</th>
                                    <th>Brand</th>
                                    <th class="col-2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of products; let i = index">
                                    <!-- <td hidden>{{ p.id }}</td> -->
                                    <td class="col-2">{{ i + 1 }}</td>
                                    <td>{{ p.name }}</td>
                                    <td>{{ p.model }}</td>
                                    <td>
                                        <div *ngIf="p.thumbImage; else defaultImage">
                                            <img src="{{ p.thumbImage }}" type="button" height="300" width="300" data-toggle="modal" data-target="#thumbImage" (click)="openProduct(p.id)">
                                        </div>

                                        <ng-template #defaultImage>
                                            <img src="https://drive.google.com/uc?id=13RxBgoxnq_AUz_IPmo3UP0rZNWijLTIo&export=view" height="300" width="300" type="button" data-toggle="modal" data-target="#thumbImage" (click)="openProduct(p.id)">
                                        </ng-template>
                                    </td>
                                    <td>{{ p.price+" "| currency:",":"":"6.0"}} VNĐ</td>
                                    <td>{{ p.stockQuantity }}</td>
                                    <td>{{ p.thumbnail }}</td>
                                    <td>{{ p.description }}</td>
                                    <td>{{ p.discountPercentage }}</td>
                                    <td>{{ p.discountPrice+" "| currency:",":"":"6.0"}} VNĐ</td>
                                    <td>{{ p.status }}</td>
                                    <td>{{ p.category.name}}</td>
                                    <td>{{ p.origin.country}}</td>
                                    <td>{{ p.brand.name}}</td>
                                    <td class="col-2">
                                        <button class="btn mb-2" style="background-color: cornflowerblue;" (click)="onUpdate(p.id)">
                                            <i class="fa fa-pencil"></i>
                                        </button><br>
                                        <button class="btn btn-danger" (click)="fnDeleteProduct(p.id)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- </div> -->
<!-- /.content-wrapper -->

<div class="modal fade" id="thumbImage" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Update Image {{seclectedProductId?.model}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="form-group">
                            <input type="text" id="productId" name="productId" class="form-control" value="{{ seclectedProductId?.id }}" hidden>
                        </div>
                        <div class="form-group">
                            <label for="imageFile">Select Image:</label>
                            <img *ngIf="selectedImage" [src]="selectedImage" alt="Selected Image" width="300" height="200">
                            <input type="file" id="imageFile" (change)="onFileChange($event)" class="form-control-file">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateThumbImage(seclectedProductId?.id)">Update Image</button>
            </div>
        </div>
    </div>
</div>