.spinner-border {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    /* position: absolute; */
    margin-top: 23%;
    margin-left: 45%;
}
.truncate-overflow-20 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 6; /* Number of lines to show */
  }