<!-- Content Wrapper. Contains page content -->
<!-- <div class="content-wrapper"> -->
<!-- Content Header (Page header) -->
<section class="content-header" *ngIf="!isSpinning" [@fadeIn]="!isSpinning">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Product List</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<div *ngIf="isSpinning" [@fadeInOut]="isSpinning" class="half-circle-spinner">
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
</div>
<!-- Main content -->
<section class="content" *ngIf="!isSpinning" [@fadeIn]="!isSpinning">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh Sách Sản Phẩm</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table datatable [dtOptions]="dtOptions" *ngIf="products && products.length > 0" class="table table-bordered table-striped row-border hover">
                            <thead>
                                <tr>
                                    <th hidden>Id</th>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Model</th>
                                    <th>Price</th>
                                    <th>Stock Quantity</th>
                                    <th>Description</th>
                                    <th>Discount Percentage</th>
                                    <th>Discount Price</th>
                                    <th>Status</th>
                                    <th>Category</th>
                                    <th>Origin</th>
                                    <th>Brand</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of products">
                                    <td hidden>{{ p.id }}</td>
                                    <td>{{ p.index }}</td>
                                    <td>{{ p.name }}</td>
                                    <td>{{ p.model }}</td>
                                    <td>{{ p.price }}</td>
                                    <td>{{ p.stockQuantity }}</td>
                                    <td>{{ p.description }}</td>
                                    <td>{{ p.discountPercentage }}</td>
                                    <td>{{ p.discountPrice }}</td>
                                    <td>{{ p.status }}</td>
                                    <td>{{ p.category.name}}</td>
                                    <td>{{ p.origin.country}}</td>
                                    <td>{{ p.brand.name}}</td>
                                    <td>
                                        <button class="btn btn-info" (click)="onUpdate(p.id)">
                                        Update
                                        </button>
                                        <button class="btn btn-danger" (click)="fnDeleteProduct(p.id)">
                                        Delete
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- </div> -->
<!-- /.content-wrapper -->