<div class="bg-gray-200">
    <div class="container mx-auto py-12">
        <div class="text-center">
            <h1 class="text-6xl font-bold text-gray">404</h1>
            <p class="text-lg text-gray mb-6">We are sorry, the page you've requested is not available.</p>
            <form role="form" class="flex items-center justify-center mb-4">
                <input type="text" placeholder="Search" class="border border-gray-300 rounded-l px-4 py-2 focus:outline-none">
                <button class="bg-white text-gray rounded-r px-6 py-2 ml-1">Go</button>
            </form>
            <a routerLink="/" class="text-gray"><i class="fa fa-home"></i> Go To Homepage</a>
        </div>
    </div>
</div>
