<!-- Content Wrapper. Contains page content -->
<!-- <div class="content-wrapper"> -->
<!-- Content Header (Page header) -->
<section class="content-header" *ngIf="!isSpinning" [@fadeIn]="!isSpinning">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Specifications Edition</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Specifications Edition</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<div *ngIf="isSpinning" [@fadeInOut]="isSpinning" class="half-circle-spinner">
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
</div>
<!-- Main content -->
<section class="content" *ngIf="!isSpinning" [@fadeIn]="!isSpinning">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-10 " action="myForm">
                <!-- style="max-width: 540px;" -->
                <form class="card " [formGroup]="specForm">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group card-body">

                                <div class="mb-1">
                                    <input hidden readonly formControlName="id" type="text" class="form-control mb-2" name="id" id="id" placeholder="Enter Product Id" />
                                    <label for="processor" class="form-label">Processor</label>
                                    <input formControlName="processor" type="text" class="form-control mb-2" name="processor" id="processor" placeholder="Enter processor Name">
                                    <div *ngIf="specForm.controls['processor'].invalid &&
                                    specForm.controls['processor'].touched" class="text-danger"> Processor is required.
                                    </div>
                                    <label for="graphicsCard" class="form-label">Graphics Card</label>
                                    <input formControlName="graphicsCard" type="graphicsCard" class="form-control mb-2" name="graphicsCard" id="graphicsCard" placeholder="Enter graphicsCard">
                                    <div *ngIf="specForm.controls['graphicsCard'].invalid &&
                                    specForm.controls['graphicsCard'].touched" class="text-danger"> Graphics card is required.
                                    </div>

                                    <label for="ram" class="form-label">Ram</label>
                                    <input formControlName="ram" type="text" class="form-control mb-2" name="ram" id="ram" placeholder="Enter your Ram">
                                    <div *ngIf="specForm.controls['ram'].invalid &&
                                    specForm.controls['ram'].touched" class="text-danger"> Ram is required.
                                    </div>

                                    <label for="storage" class="form-label">Storage</label>
                                    <input formControlName="storage" type="text" class="form-control" name="storage" id="storage" placeholder="Enter Storage">
                                    <div *ngIf="specForm.controls['storage'].invalid &&
                                    specForm.controls['storage'].touched" class="text-danger"> Storage is required.
                                    </div>

                                    <label for="display" class="form-label">Display</label>
                                    <input formControlName="display" type="text" class="form-control mb-2" name="display" id="display" placeholder="Enter Display">
                                    <div *ngIf="specForm.controls['display'].invalid &&
                                    specForm.controls['display'].touched" class="text-danger"> Display is required.
                                    </div>

                                    <label for="operatingSystem" class="form-label">Operating System</label>
                                    <input formControlName="operatingSystem" type="text" class="form-control mb-2" name="operatingSystem" id="operatingSystem" placeholder="Enter your Category Id">
                                    <div *ngIf="specForm.controls['operatingSystem'].invalid &&
                                    specForm.controls['operatingSystem'].touched" class="text-danger"> Operating System is required.
                                    </div>

                                    <label for="camera" class="form-label">Camera</label>
                                    <input formControlName="camera" type="text" class="form-control mb-2" name="camera" id="camera" placeholder="Enter your Camera">
                                    <div *ngIf="specForm.controls['camera'].invalid &&
                                    specForm.controls['camera'].touched" class="text-danger"> Camera is required.
                                    </div>

                                    <!-- <label for="originId" class="form-label">Product</label>
                                    <input formControlName="originId" type="text" class="form-control mb-2" name="originId" id="originId" placeholder="Enter your Origin Id">
                                    <div *ngIf="infoSpecification.controls['originId'].invalid &&
                                        infoSpecification.controls['originId'].touched" class="text-danger"> Product is required.
                                    </div> -->
                                </div>
                                <hr>
                                <div class="row mx-2 mb-2">
                                    <div class="col-12 d-flex flex-wrap justify-content-end">
                                        <button (click)="fnAddSpec()" [disabled]="ButtonSave" type="button" class="btn btn-primary mx-2" name="btn-save">Save</button>
                                        <button *ngIf="buttonService.getShowButton3()" (click)="fnUpdateSpec()" [disabled]="ButtonUpdate" type="button" class="btn btn-primary mx-2">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>


            </div>

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- </div> -->
<!-- /.content-wrapper -->