<!-- ---- User Profile --->
<div class="px-4 py-3 shadow flex bg-gray-100 items-center gap-4">
  <div class="flex-shrink-0">
    <img src="../assets/images/ariyan.jpg" class="rounded-full w-14 h14 p-1 border border-gray-200 object-cover" />
  </div>
  <div>
    <p class="text-gray-600">WelCome....</p>
    <h4 class="text-gray-800 capitalize font-semibold">{{fullName}}</h4>
  </div>
</div>
<!-- ----End User Profile --->

<!-- ---- Profile Link --->
<div class="mt-6 bg-gray-100 shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600">
  <!-- ---- single Link --->
  <div class="space-y-1 pl-8">
    <a routerLink="/account/personal-profile"
      class="relative text-base font-medium capitalize hover:text-primary transition block text-primary">
      Manage Account
      <span class="absolute -left-8 top-0 text-base">
        <i class="far fa-address-card"></i>
      </span>
    </a>
    <a routerLink="/account/personal-profile" class="hover:text-primary transition capitalize block">Profile Information
    </a>
    <!-- <a href="#" class="hover:text-primary transition capitalize block">Manage Address -->
    <!-- </a> -->
    <a routerLink="/account/change-password" class="hover:text-primary transition capitalize block">Change password
    </a>
  </div>
  <!-- ---- End single Link --->

  <!-- ---- single Link --->
  <div class="space-y-1 pl-8 pt-4">
    <a routerLink="/account/order-history" class="relative text-base font-medium capitalize hover:text-primary transition block text-primary">
      My activities
      <span class="absolute -left-8 top-0 text-base">
        <i class="fas fa-gift"></i>
      </span>
    </a>
    <a routerLink="/account/order-history" class="hover:text-primary transition capitalize block">My order History
    </a>
    <!-- <a href="#" class="hover:text-primary transition capitalize block">my cancellations
    </a> -->
    <a routerLink="/account/myreview" class="hover:text-primary transition capitalize block">my review
    </a>
  </div>
  <!-- ---- End single Link --->

  <!-- ---- single Link --->
  <div class="space-y-1 pl-8 pt-4">
    <a routerLink="/account/vouchers" class="relative text-base font-medium capitalize hover:text-primary transition block text-primary">
      Payment Method
      <span class="absolute -left-8 top-0 text-base">
        <i class="far fa-credit-card"></i>
      </span>
    </a>
    <a routerLink="/account/vouchers" class="hover:text-primary transition capitalize block">Voucher</a>
  </div>
  <!-- ---- End single Link --->

  <!-- ---- single Link --->
  <div class="space-y-1 pl-8 pt-4">
    <a routerLink="/wishlist" class="relative text-base font-medium capitalize hover:text-primary transition block text-primary">
      My wishlist
      <span class="absolute -left-8 top-0 text-base">
        <i class="far fa-heart"></i>
      </span>
    </a>
  </div>
  <!-- ---- End single Link --->

  <!-- ---- single Link --->
  <div class="space-y-1 pl-8 pt-4">
    <a href="#" class="relative text-base font-medium capitalize hover:text-primary transition block text-primary">
      Logout
      <span class="absolute -left-8 top-0 text-base">
        <i class="fas fa-sign-out-alt"></i>
      </span>
    </a>
  </div>
  <!-- ---- End single Link --->
</div>

<!-- ----End Profile Link --->