<!-- Content Wrapper. Contains page content -->
<!-- <div class="content-wrapper"> -->
<!-- Content Header (Page header) -->
<section class="content-header" *ngIf="!isSpinning" [@fadeIn]="!isSpinning">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Category List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Category List</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<div *ngIf="isSpinning" [@fadeInOut]="isSpinning" class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
</div>
<!-- Main content -->
<section class="content" *ngIf="!isSpinning" [@fadeIn]="!isSpinning">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <!-- <h3 class="card-title">Danh Sách Category</h3> -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        <table datatable *ngIf="categories && categories.length > 0" [dtOptions]="dtOptions" class="table table-bordered table-striped row-border hover">
                            <!-- Các cột dữ liệu ở đây -->
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Thumb</th>
                                    <th>Status</th>
                                    <th class="col-2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let c of categories; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ c.name }}</td>
                                    <td>
                                        <div *ngIf="c.thumbnail; else defaultImage">
                                            <img src="{{ c.thumbnail }}" type="button" height="150" width="150" data-toggle="modal" data-target="#thumbImage" (click)="openProduct(c.id)" style="border-radius: 30%;">
                                        </div>

                                        <ng-template #defaultImage>
                                            <img src="https://drive.google.com/uc?id=13RxBgoxnq_AUz_IPmo3UP0rZNWijLTIo&export=view" height="150" width="150" type="button" data-toggle="modal" data-target="#thumbImage" (click)="openProduct(c.id)">
                                        </ng-template>
                                    </td>
                                    <td>{{ c.status }}</td>
                                    <td class="col-2">
                                        <button class="btn mx-2" style="background-color: cornflowerblue;" (click)="onUpdate(c.id)">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger" (click)="fnDeleteCategory(c.id)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- </div> -->
<!-- /.content-wrapper -->

<div class="modal fade" id="thumbImage" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Update Image {{seclectedCategoryId?.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="form-group">
                            <input type="text" id="productId" name="productId" class="form-control" value="{{ seclectedCategoryId?.id }}" hidden>
                        </div>
                        <div class="form-group">
                            <label for="imageFile">Select Image:</label>
                            <img *ngIf="selectedImage" [src]="selectedImage" alt="Selected Image" width="300" height="200">
                            <input type="file" id="imageFile" (change)="onFileChange($event)" class="form-control-file">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateThumbImage(seclectedCategoryId?.id)">Update Image</button>
            </div>
        </div>
    </div>
</div>