.ase {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.yx {
    align-items: flex-start;
}
.lx {
    display: flex;
}
.lg\:col-span-4 {
    grid-column: span 5 / span 5;
}
.lg\:col-span-8 {
    grid-column: span 7 / span 7;
}