<div class="container pb-16 " style="border: 1px solid #ebe9e9; border-radius: 5px;margin-bottom: 25px;">
     <h2 class="text-2xl md:text-3xl font-medium text-gray-800 uppercase mb-6  "> Shop by Category </h2>
     <div class="grid lg:grid-cols-6 sm:grid-cols-6 gap-4 ">
          <!-- ---- Single Categories  ----- -->
          <div class="relative group rounded-sm overflow-hidden " style="border-radius: 10PX;" *ngFor="let loai of listTypePro">
               <img src="{{loai.images}}" class="w-full" />
               <a href="/shop/category/{{loai.id}}"
                    class="absolute inset-0 bg-black bg-opacity-20 group-hover:bg-opacity-30 flex items-center justify-center text-xl text-white font-roboto font-medium tracking-wide transition ">
                    {{loai.name | uppercase }}
               </a>
          </div>
          <!-- ---- Single Categories End  ----- -->
 
          <!-- ---- Single Categories  ----- -->
 
     </div>
 </div>