<div class="container pb-16 ">
    <div class="flex items-center py-4">
        <hr class="flex-grow border-b">
        <h3 class="px-4 text-gray-900 font-semibold text-xl uppercase">Shop By Category</h3>
        <hr class="flex-grow border-b">
    </div>
    <div class="grid lg:grid-cols-6 sm:grid-cols-6 gap-4 ">
        <!-- ---- Single Categories ----- -->
        <div class="relative group rounded-sm overflow-hidden " style="border-radius: 10PX;" *ngFor="let loai of listTypePro">
            <img src="{{loai.thumbnail}}" class="w-full" />
            <a href="/shop/category/{{loai.id}}" class="absolute inset-0 bg-black bg-opacity-20 group-hover:bg-opacity-30 flex items-center justify-center text-xl text-white font-roboto font-medium tracking-wide transition ">
                    {{loai.name | uppercase }}
               </a>
        </div>
        <!-- ---- Single Categories End ----- -->
        <!-- ---- Single Categories ----- -->
    </div>
</div>