<div class="container py-16">
     <div class="max-w-lg mx-auto px-6 py-7 shadow rounded overflow-hidden">
          <h2 class="text-2xl uppercase font-medium mb-1">
               {{'resetPassword.heading'|translate}}
          </h2>
          <p class="text-gray-600 mb-6 text-sm">{{'resetPassword.title'|translate}}</p>

          <form method="" action="" [formGroup]="resetPasswordForm">
               <div class="space-y-4">
                    <div>
                         <label class="text-gray-600 mb-2 block">{{'resetPassword.resetPasswordTokenLabel'|translate}} <span class="text-primary">*</span>
                         </label>
                         <input type="text" id="resetPasswordToken" formControlName="resetPasswordToken"
                              autocomplete="off"
                              class="input-box bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 
           dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary dark:focus:border-primary"
                              placeholder="{{'resetPassword.resetPasswordTokenInputPlaceholder'|translate}}" />
                         <div *ngIf="
                         resetPasswordForm.controls['resetPasswordToken'].invalid &&
                         resetPasswordForm.controls['resetPasswordToken'].touched
                            " class="text-red-500">
                            {{'resetPassword.resetPasswordTokenRequiredError'|translate}}
                         </div>
                    </div>

                    <div>
                         <label class="text-gray-600 mb-2 block">  {{'resetPassword.newPasswordLabel'|translate}}<span class="text-primary">*</span>
                         </label>
                         <input type="password" id="newPassword" formControlName="newPassword" autocomplete="off"
                              class="input-box bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 
           dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary dark:focus:border-primary" placeholder="{{'resetPassword.newPasswordInputPlaceholder'|translate}}" />
                         <div
                              *ngIf="resetPasswordForm.controls['newPassword'].errors && resetPasswordForm.controls['newPassword'].touched">
                              <div class="text-red-500"
                                   *ngIf="resetPasswordForm.controls['newPassword'].errors['required']">
                                   {{'resetPassword.newPasswordRequiredError'|translate}}
                              </div>
                              <div class="text-red-500"
                                   *ngIf="resetPasswordForm.controls['newPassword'].errors['minlength'] && !resetPasswordForm.controls['newPassword'].errors['pattern']">
                                   {{'resetPassword.newPasswordMinLengthError'|translate}}
                              </div>
                         </div>
                    </div>
               </div>

               <div class="mt-4">
                    <button type="submit" (click)="resetPassword()"
                         class="block w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">{{'resetPassword.submitButtonText'|translate}}
                    </button>
               </div>
          </form>
          <div *ngIf="loading"
               class="fixed top-0 left-0 w-screen h-screen bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
               <div class="animate-spin rounded-full h-32 w-32 border-t-2 border-primary"></div>
          </div>
          <div *ngIf="showSuccessMessage" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-70">
               <div class="max-w-2xl mx-auto px-4 py-8 text-center bg-white shadow-lg rounded-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 mx-auto animate-bounce text-green-500"
                         fill="none" viewBox="0 0 24 24" stroke="currentColor">
                         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7">
                         </path>
                    </svg>
                    <h2 class="text-gray-800 font-medium text-2xl mb-3">Change password successfully.</h2>
               </div>
          </div>
     </div>
</div>